<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="OMNIBUS_TESTING_project.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="JLR_TESTING_project.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="ShapeBlue_Testing.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="OMNIBUS_TESTING_project.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="JLR_TESTING_project.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ShapeBlue_Testing.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <OMNIBUS_TESTING_project.Properties.Settings>
            <setting name="FOLDERDATASCRIPT" serializeAs="String">
                <value>C:\GITOMNIBUS\OMNIBUS_TESTING\OMNIBUS_TESTING_PROJECT\Data\DataScripts\</value>
            </setting>
        </OMNIBUS_TESTING_project.Properties.Settings>
        <JLR_TESTING_project.Properties.Settings>
            <setting name="FOLDERDATASCRIPT" serializeAs="String">
                <value>C:\GITJLR\JLR_TESTING\JLR_TESTING_PROJECT\Data\DataScripts\</value>
            </setting>
        </JLR_TESTING_project.Properties.Settings>
        <ShapeBlue_Testing.Properties.Settings>
            <setting name="FOLDERDATASCRIPT" serializeAs="String">
                <value>C:\QAprojects_TFS_data\ShapeBlue_Testing\DataScripts\</value>
            </setting>
        </ShapeBlue_Testing.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <OMNIBUS_TESTING_project.Properties.Settings>
            <setting name="SCRIPTFOLDER" serializeAs="String">
                <value>C:\GITOMNIBUS\OMNIBUS_TESTING\OMNIBUS_TESTING_PROJECT\bin\Debug\</value>
            </setting>
            <setting name="SCRIPTFILE" serializeAs="String">
                <value>RUN_OMNIBUSODATASOURCETESTINGR01.csv</value>
            </setting>
            <setting name="FOLDERFILESCRIPT" serializeAs="String">
                <value>OMNIBUSDATASOURCETESTINGR01.csv</value>
            </setting>
        </OMNIBUS_TESTING_project.Properties.Settings>
        <JLR_TESTING_project.Properties.Settings>
            <setting name="SCRIPTFOLDER" serializeAs="String">
                <value>C:\GITJLR\JLR_TESTING\JLR_TESTING_PROJECT\bin\Debug\</value>
            </setting>
            <setting name="SCRIPTFILE" serializeAs="String">
                <value>RUN_JLRODATASOURCETESTINGR01.csv</value>
            </setting>
            <setting name="FOLDERFILESCRIPT" serializeAs="String">
                <value>JLRDATASOURCETESTINGR01.csv</value>
            </setting>
        </JLR_TESTING_project.Properties.Settings>
        <ShapeBlue_Testing.Properties.Settings>
            <setting name="SCRIPTFOLDER" serializeAs="String">
                <value>C:\GitHub\ShapeBlue_Testing\ShapeBlue_Testing\ShapeBlue_Testing\bin\Debug\</value>
            </setting>
            <setting name="SCRIPTFILE" serializeAs="String">
                <value>RUN_SHAPEBLUEODATASOURCETESTINGR01.csv</value>
            </setting>
            <setting name="FOLDERFILESCRIPT" serializeAs="String">
                <value>SHAPEBLUEDATASOURCETESTINGR01.csv</value>
            </setting>
        </ShapeBlue_Testing.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.TestTools.UITesting" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-16.0.0.0" newVersion="16.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.TestTools.UITest.Extension" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-16.0.0.0" newVersion="16.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="KellermanSoftware.Compare-NET-Objects" publicKeyToken="d970ace04cc85217" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.72.0.0" newVersion="4.72.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>