<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Testmaster01_Test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Testmaster01_Test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Testmaster01_Test.Properties.Settings>
            <setting name="SCRIPTFOLDER" serializeAs="String">
                <value>C:\GitHub\ShapeBlue_Testing\ShapeBlue_Testing\Testmaster01_Test\bin\Debug\</value>
            </setting>
            <setting name="SCRIPTFILE" serializeAs="String">
                <value>data.csv</value>
            </setting>
            <setting name="FOLDERFILESCRIPT" serializeAs="String">
                <value>TESTMASTER01R01.csv</value>
            </setting>
        </Testmaster01_Test.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Testmaster01_Test.Properties.Settings>
            <setting name="FOLDERDATASCRIPT" serializeAs="String">
                <value>C:\QAprojects_TFS_data\Testmaster01_Test\DataScripts\</value>
            </setting>
        </Testmaster01_Test.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.TestTools.UITesting" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-16.0.0.0" newVersion="16.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.TestTools.UITest.Extension" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-16.0.0.0" newVersion="16.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>